.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-5%, -5%);
}

/* GamepadModal */
.circle {
  margin: 0.5vw;
  width: 2vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #711521;
  border: 3px solid black;/* Optional border */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.circle-pressed {
  background-color: red;
}